@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

/*JS*/
.green {
    background-color: green;
}
.red {
    background-color: red;
}

/*box-modle*/
.box-modle {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    display: none;
}
.visable {
    display: block;
}

.box-modle_card {
    background-color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    /* z-index: 6; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;
    border-radius: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.6) 0px 3px 6px; */
}

.box-modle_card p {
    margin-top: 3rem;
    font-size: 3rem;
}

.box-modle div button {
    padding: 1rem 0;
    width: 8rem;
    font-family: inherit;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 60, 197);
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
.box-modle div button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: translateY(-2px);
}





body {
    font-family: 'Vazirmatn', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(135deg, rgb(144, 85, 255), rgb(19, 226, 218));
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-width: 500px;
    min-height: 600px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.73);
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem;
    margin-top:3rem;
    background-color: whitesmoke;
    min-height: 185px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.timer-container i {
    font-size: 2rem;
    color: rgb(0, 60, 197) ;
}

.timer {
    border: solid  rgb(0, 60, 197) 1px;
    width: 80%;
    height: 1.2rem;
    border-radius: 16px;
}

.timer > div {
    background: linear-gradient(135deg, rgb(11, 99, 246), rgb(0, 60, 197));
    width: 0%;
    height: 100%;
    border-radius: 16px;
}

.timer-fill {
    animation: fill 10s linear forwards;
}
@keyframes fill {
    100% {
        width: 100%;
    }
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 90%;
    margin: 1rem 0;

}

.options-btn {
    font-family: inherit;
    font-size: 1rem;
    border: none;
    padding: 1.7rem 0;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: translateY(-2px);
}

.info-container {
    margin-top: auto;
    margin-bottom: 0.5rem;
    color: rgb(0, 60, 197);
}